<tr class="gear-item">
    <td class="name">{{name}}</td>
    <td class="description">{{description}}</td>
    <td class="weight">{{weight}}</td>
    <td class="location">{{location}}</td>
    <td class="status">{{status}}</td>
    <td class="gear-actions">actions go here</td>
</tr>
