<td class="name">{{gear_item.name}}</td>
<td class="description">{{gear_item.description}}</td>
<td class="weight">{{gear_item.weight}}</td>
<td class="location">{{gear_item.location}}</td>
<td class="status">{{gear_item.status}}</td>
<td class="actions">check in/out goes here</td>
