<!DOCTYPE html>
<html ng-app="Gearstack">
<head>
    <title>Gearstack</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <a href='#/'>Gearstack</a>
    </header>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <script src="//cdn.jsdelivr.net/underscorejs/1.4.4/underscore-min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/restangular/1.0.9/restangular.min.js"></script>
    <%= javascript_include_tag "application" %>
</body>
</html>
